.container {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -75%);
}

h1 {
  text-align: center;
}

.login-form, .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
label,
p,
button {
  margin: auto;
  width: 30%;
  min-width: 300px;
  max-width: 500px;
}

label {
  margin-top: 15px;
  margin-bottom: 3px;
}

input {
  height: 30px;
  padding: 7px;
}

input:focus {
  outline: none;
  border: 1px solid #d14226;
  border-radius: 5px;
}

button {
  height: 35px;
  margin-top: 20px;
  color: #fff;
  background-color: #d14226;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  box-shadow: 0 2px 0 #752414;
}

button:hover {
  background-color: #bd3b22;

}

button:active {
  background: #bd3b22;
  box-shadow: 0 0px 0 #fff;
  transform: translateY(0.2em);
}

p {
  margin-top: 5px;
  font-size: 13px;
  color: red;
}